{% extends 'base.html' %} {% block title %}Edit{% endblock %} {% block content%}
<h1>Edit Show {{show.id}}</h1>
<div id="alerts"></div>
<a href="/shows">Go back <i class="icon-share-alt"></i></a>
<form
  action="/shows/{{show.id}}/update"
  method="POST"
  class="uk-margin uk-width-1-2"
>
  {% csrf_token %}
  <label for="title">Title</label>
  <input
    type="text"
    id="title"
    name="title"
    value="{{show.title}}"
    class="uk-input"
    required
  />
  <label for="network">Network</label>
  <input
    type="text"
    id="network"
    name="network"
    value="{{show.network}}"
    class="uk-input"
    required
  />
  <label for="release_date">Release Date</label>
  <input type="date" name="release_date" id="release_date"
  value="{{show.release_date|date:"Y-m-d"}}" class="uk-input" required />
  <label for="description">Description</label>
  <textarea
    class="uk-textarea"
    name="description"
    id="description"
    cols="30"
    rows="10"
  >
{{show.description}}</textarea
  >
  <input
    class="uk-margin uk-button-primary uk-padding-small"
    type="submit"
    value="Update"
  />
</form>
{% endblock %} {% block javascript %}
<script>
  $("form").submit(function (event) {
    event.preventDefault();
    var form = $(this).serialize();
    var id = {{show.id}}
    $.ajax({
      type: "POST",
      url: "/shows/" + id +"/update",
      data: form,
      dataType: "json",
      success: function (data) {
        if ("resultado" in data) {
          window.location.href = "/shows/" + data["resultado"];
        } else {
          for (const property in data) {
            msg =
              "<div id='div-alert' class='uk-alert-danger' uk-alert><a class='uk-alert-close' uk-close></a><p>" +
              data[property] +
              "</p></div>";
            $("#alerts").append(msg);
          }
          setTimeout(function () {
            $("#alerts").empty();
          }, 5000);
        }
      },
    });
  });
</script>
{% endblock %}
