{% extends 'base.html' %}
{% block title %}All Shows{% endblock %} 
{% block content %}
    <h1 class="">All Shows</h1>
    <table class="uk-table uk-table-striped uk-table-hover">
      <thead>
        <tr>
          <th class="">id</th>
          <th class="">title</th>
          <th class="">network</th>
          <th class="">release_date</th>
          <th class="">action</th>
        </tr>
      </thead>
      <tbody>
        {% for show in shows %}
        <tr>
          <td class="">{{show.id}}</td>
          <td class="">{{show.title}}</td>
          <td class="">{{show.network}}</td>
          <td class="">{{show.release_date}}</td>
          <td class="">
            <a href="/shows/{{show.id}}" id="show"
              ><i class="icon-eye-open"></i></a
            ><span>|</span
            ><a href="/shows/{{show.id}}/edit" id="edit"
              ><i class="icon-pencil"></i></a
            ><span>|</span>
            <a href="/shows/{{show.id}}/destroy" id="delete"
              ><i class="icon-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h1 class="">TV Shows</h1>
    <table
      class="uk-table uk-table-striped uk-table-hover uk-margin-medium-bottom"
    >
      <thead>
        <tr>
          <th class="">id</th>
          <th class="">title</th>
          <th class="">network</th>
          <th class="">release_date</th>
          <th class="">action</th>
        </tr>
      </thead>
      <tbody>
        {% for tv in tvs %}
        <tr>
          <td class="">{{tv.id}}</td>
          <td class="">{{tv.title}}</td>
          <td class="">{{tv.network}}</td>
          <td class="">{{tv.release_date}}</td>
          <td class="">
            <a href="/shows/{{tv.id}}" id="show"
              ><i class="icon-eye-open"></i></a
            ><span>|</span
            ><a href="/shows/{{tv.id}}/edit" id="edit"
              ><i class="icon-pencil"></i></a
            ><span>|</span>
            <a href="/shows/{{tv.id}}/destroy" id="delete"
              ><i class="icon-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a
      class="uk-margin-medium-top uk-button-primary uk-padding-small"
      href="/shows/new"
      >Add a New Show</a
    >
  </body>
{% endblock %}
