{% extends 'base.html' %} {% block title %}Show{% endblock %} {% block content%}
<div>
  <h1>TV Show {{show.id}}</h1>
  <a href="/shows">Go back <i class="icon-share-alt"></i></a>
  <p>Title: {{show.title}}</p>
  <p>Network: {{show.network}}</p>
  <p>Release Date: {{show.release_date}}</p>
  <p>Description: {{show.description}}</p>
</div>
<div class="uk-margin-large-top">
  <p>Last Updated: {{show.updated_at}}</p>
  <a href="/shows/{{show.id}}/edit">Edit <i class="icon-pencil"></i></a>
  <span> | </span>
  <a href="/shows/{{show.id}}/destroy">Delete <i class="icon-trash"></i></a>
</div>
{% endblock %}
